body {
  padding: 30px;
  margin: 10px;
}
.button-secondary{
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(66, 184, 221);
}

.created > div {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  padding-left: 20px;
  margin-top: 20px;
  min-height: 94px;
  background: #EEE;
  box-shadow: 1px 1px 1px 0px #999;
}
.created > div > textarea {
  width: calc(100% - 70px);
}
.created > div > div {
  position: absolute;
  right: 5px;
}
.created > div > div > button {
  display: block;
  box-sizing: border-box;
  height: 36px;
  width: 60px;
  padding: 6px;
  margin-bottom: 2px;
}

.footer {
  background: #DDD;
  border-radius: 5px;
  border: solid 1px #AAA;
  padding: 5px;
  margin-top: 30px;
}
.footer > p {
  margin: 0;
}
